<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Not Found</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">

    </head>
    <body class="p-3 mb-2 bg-primary text-white">
        <div class="container-sm">
            <div class="p-3 mb-2 bg-light text-dark">
                <p style="font-family: 'Roboto Mono', monospace; font-size: 50px; padding: 10px; text-align: center;">Pagina não encontrada</p>
                
                    <form action="/" method="get">
                        <input type="submit" value="Pagina Principal" class="btn btn-success" style="margin-left: auto; margin-right: auto;">
                    </form>
                
            </div>
        </div>
    </body>
</html>