<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css')}}">
</head>

<body class="p-3 mb-2 bg-primary text-white">
    <div class="container-sm">
        <div class="p-3 mb-2 bg-light text-dark">
            <h2>Novo Topico</h2>
            <form method="POST" action="/">
                <div class="mb-3">
                    <label for="título-topico" class="form-label">Título</label>
                    <input type="text" name="titulo" id="titulo" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="Texto do tópico" class="form-label">Conteúdo</label>
                    <textarea type="text" name="descricao" id="descricao" class="form-control" rows="10"></textarea>
                    
                </div>
                <div class="mb-3">
                    <input type="submit" value="Postar" class="btn btn-primary">
                    <button onclick="href='/'" class="btn btn-secondary">Voltar</button>
                </div>
                <input type="hidden" name="operation" value="put">
            </form>
        </div>
    </div>
</body>