<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css')}}">
    <script>
        function esconderCampo() {
           this.style.display = 'none';
        }
    </script>
</head>
<body id='main' name="main">
    <h1 id='title'>Blog de Teste</h1>
    <form action="/novotopico">
        <input type="submit" value="Novo Topico">
    </form>
    <table border="1">
        <tr>
            <td>Topico</td>
            <td>Data de postagem</td>
        <tr>

        {% for r in regs %}
            <tr>
                <td>{{r[1]}}</td>
                <td>{{r[2]}}</td>
                <td>
                    <form method="POST" action="/apagatopico">         
                        <input type="submit" value="Apagar">
                        <input type="text" name="idtopico" id="idtopico" value="{{r[0]}}" hidden>
                    </form>
                </td>
                <td>
                    <form method="POST" action="/alteratopico">
                        <input type="submit" value="Alterar">
                        <input type="text" name="idtopico" id="idtopico" value="{{r[0]}}" hidden>
                    </form>
                </td>
            <tr>
        {% endfor %}

    </table>
</body>
</html>